

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*header section starts */
header {
    background-color: #1F2937;
    padding: 0 30px 30px 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.logo-navigation {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    gap:16px;
}

.header-navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo-navigation p {
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    padding: 0;
   
}

.nav-links {
    font-size: 16px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

.header-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header-subsection-one {
    width: 400px;

}

.header-subsection-one h2 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.header-subsection-one p {
    color:#E5E7EB;
    font-size: 14px;
}

.header-subsection-one button {
    background-color: #3882F6;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 5px 20px;
    color: #E5E7EB;
    font-weight: 500;
}

.header-subsection-two {
    width: 400px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-subsection-two p {
    color: #E5E7EB;
    font-size: 14px;
}

/* header section ends */

/*main section starts */

main {
    padding: 30px;
}

main h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.information {
    display: flex;
    justify-content: center;
}

.information-placeholder {
    width: 180px;
    margin: 10px;
}

.information-placeholder p {
    text-align: center;
}

.rectangle {
    height: 150px;
    width: 160px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin: auto;
}

/*main section ends */

/*quote section starts */
.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-section p {
    margin: auto;
    width: 900px;
    font-size: 30px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.author {
    margin: auto;
    display: flex;
    justify-content: end;
    width: 900px;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
}
/*quote section ends */

/*signup section starts */

.signup-section {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    width: 800px;
    background-color:#3882F6;
    border-radius: 8px;
    padding: 30px 40px;
    align-items: center;
    justify-content: space-between;
}

.signup-text h3{
    color: #E5E7EB;
    margin-bottom: 0;
}

.signup-text p {
    margin-top: 5px;
    padding: 0;
    color: #E5E7EB;
}

.signup-container button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
}


/*signup section ends */

/*footer section starts */
footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}
/*footer section ends */



